@use 'fonts';
@import "nav";

header {
  margin: 0%;
  background-image: url(../images/headimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  width: 100%;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.head_centre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 800px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -40px;
}
.head_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 400px;
  text-align: center;
  justify-content: space-evenly;
}
.heading {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;

  color: #ffffff;
  padding: 10px;
}
.head_text {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6.82px;

  color: #ffffff;
  padding: 10px;
}
.head_search {
  display: flex;
  flex-direction: row;
  min-width: 650px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
form {
  width: 500px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

input {
  width: 340px;
  height: 35px;
  text-align: center;
}
.search_bar button {
  background-color: #5474fd;
  width: 90px;
  height: 41px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.head_scroll {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 40px;
  margin-top: 40px;
  text-decoration: none;
}
.head_scroll:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
