body {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  margin: 0%;
  background-image: url(../images/headimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 965px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.head_centre {
  display: flex;
  flex-direction: column;
  min-width: 800px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.head_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 400px;
  text-align: center;
  justify-content: space-evenly;
}
.heading {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;

  color: #ffffff;
  padding: 10px;
}
.head_text {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6.82px;

  color: #ffffff;
  padding: 10px;
}
.head_search {
  display: flex;
  flex-direction: row;
  min-width: 600px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.search_bar {
  width: 500px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

input {
  width: 340px;
  height: 40px;
  text-align: center;
}
.search_bar button {
  background-color: #5474fd;
  width: 100px;
  height: 46px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.fa .fa-search {
  padding-left: 2vw;
}

.head_scroll {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 40px;
  margin-top: 40px;
  text-decoration: none;
}
.head_scroll a {
  align-items: center;
}
.head_scroll:hover {
  color: blue;
  cursor: pointer;
}
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.logo {
  margin-left: 30px;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5474fd;
  position: fixed;
  bottom: 0;
}
.nav_li {
  min-width: 600px;
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav_li li {
  text-decoration: none;
}
.nav_li:hover {
  color: whitesmoke;
}
.icon {
  display: none;
}
.section1 {
  height: 685px;
  color: white;
  background-image: url(/images/city.png);
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.info1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.heading1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  padding-bottom: 20px;
}

.text1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 36px;
  /* or 162% */
  letter-spacing: 2.6px;
  color: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 40px;
}

.btn_about {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  border: none;
  height: 63px;
  max-width: 230px;
}

.btn_about:hover,
.btn_about:active {
  background-color: blue;
}

.img_about {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.img_one1 {
  width: 350px;
  margin: 10px;
  align-self: flex-start;
}
.img_one2 {
  width: 350px;
  margin: 10px;
  align-self: flex-end;
}
.section2 {
  background-color: #333333;
  height: 340px;
  display: flex;
  flex-direction: column;
}

.travel2 {
  align-self: center;
  position: relative;
  bottom: -30px;
}

.travel-check {
  position: relative;
  border: 30px solid #333333;
}

.travel_info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.travel_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel_text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  color: gray;
  padding-top: 20px;
}
.container3 {
  min-height: 564px;
}

.spain1 {
  background-image: url(../images/house.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 18% 35% 40%;
  grid-template-rows: 30% 70%;
}

.spain2 {
  background-image: url(../images/cliffs.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 50% 35% 15%;
  grid-template-rows: 25% 75%;
}

.spain_card1 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.spain_card2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.spain_card {
  max-width: 600px;
  height: 300px;
  background-color: #232323;
  opacity: 0.9;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.card_heading1 {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  letter-spacing: 1.5px;
  color: white;
  margin-left: 5%;
  padding-bottom: 20px;
}

.card_heading2 {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: white;
  margin-left: 5%;
  padding-bottom: 20px;
}

.card_text {
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #e8e8e8;
  max-width: 90%;
  margin-left: 5%;
}

.card_btn {
  background-color: blue;
  width: 228px;
  height: 63px;
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: white;
  border: none;
  margin: 5%;
}

.card_btn:hover,
.card_btn:active {
  background-color: rgb(209, 102, 41);
}

.container4 {
  background-image: url(/images/tourist-background.png);
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading4 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  color: white;
}

.card4 {
  background-color: #333333;
  display: flex;
  max-width: 950px;
  margin-bottom: 40px;
  align-items: center;
}

.img4 {
  width: 350px;
  height: 240px;
}

.info4 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 25px;
  padding-bottom: 10px;
}

.name4 {
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: #fefefe;
  padding-bottom: 10px;
}

.material-icons {
  color: white;
}

.text4 {
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: gray;
}
.footer {
  height: 300px;
  background-color: #232323;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.footer_logo {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

.footer_text {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.6px;
}

.footer_icons {
  list-style-type: none;
  display: inline-flex;
  color: gray;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.8px;
}

.footer_icon {
  margin: 8px;
  text-decoration: none;
}

.fa-linkedin-in {
  color: blue;
}

.footer__icon:hover {
  color: rgb(72, 13, 212);
}
@media screen and (max-width: 1000px) {
  .nav_li {
    min-width: 500px;
    margin-left: 15px;
    font-size: 15px;
  }
  .head_centre {
    min-width: 500px;
    margin-bottom: 40px;
  }
  .head_search {
    min-width: 75%;
  }
  .section1 {
    padding-left: 20px;
  }
  .footer {
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .section2 {
    height: auto;
  }
  .travel2 {
    transform: scale(0.7);
  }
  .travel_text {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .nav_li {
    min-width: 400px;
    margin-left: 10px;
    font-size: 12px;
  }
  .head_centre {
    min-width: 60%;
    padding-bottom: 40px;
  }
  .head_card {
    align-items: center;
  }
  .heading {
    font-size: 36px;
    line-height: 18px;
    letter-spacing: 3px;
  }
  .head_text {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4.82px;
  }
  form {
    width: 50%;
    height: auto;
  }
  .img_about {
    width: 400px;
  }
  .section1 {
    height: 550px;
    margin-left: -20px;
  }
  .img_one1,
  .img_one2 {
    align-self: center;
    width: 60%;
  }
  .info1 {
    width: 80%;
    margin-left: 5vw;
  }
  .heading1 {
    font-size: 26px;
    line-height: 18px;
    /* identical to box height, or 72% */
    padding-bottom: 10px;
  }
  .text1 {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.6px;
    padding-bottom: 20px;
  }
  .btn_about {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    border: none;
    height: 43px;
    max-width: 180px;
  }
  .section2 {
    height: auto;
  }
  .travel2 {
    transform: scale(0.5);
  }
  .travel_text {
    font-size: 24px;
  }
  .container3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spain_card {
    height: auto;
    max-width: 400px;
    opacity: 0.9;
    padding-top: 20px;
  }
  .card_btn {
    width: 180px;
    height: 50px;
  }

  .search_bar button {
    width: 90px;
    height: 41px;
  }
  .img4 {
    width: 280px;
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .logo_img {
    display: none;
  }
  .nav_li {
    min-width: 400px;
    font-size: 12px;
    margin-left: -20px;
  }
  .head_centre {
    min-width: 40%;
    padding-bottom: 40px;
  }
  .head_card {
    min-width: 300px;
  }
  .heading {
    font-size: 28px;
    line-height: 12px;
    letter-spacing: 2px;
  }
  .head_text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3px;
  }
  .head_search {
    min-width: 55%;
  }
  .search_bar {
    width: 300px;
    height: 50px;
  }
  .search_bar button {
    width: 90px;
    height: 36px;
  }
  .img_about {
    width: 350px;
  }
  .section1 {
    height: 550px;
  }
  .img_one1,
  .img_one2 {
    align-self: center;
    width: 80%;
  }
  .btn_about {
    font-size: 10px;
    line-height: 12px;
    height: 35px;
    max-width: 140px;
  }
  .travel2 {
    transform: scale(0.4);
  }
  .travel_text {
    font-size: 20px;
  }
  .card_btn {
    width: 140px;
    height: 40px;
  }
  .spain_card {
    height: auto;
    max-width: 300px;
  }
  .card_heading1 {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.2px;
  }

  .card_heading2 {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.2px;
  }

  .card_text {
    font-size: 12px;
    line-height: 20px;
  }

  .card_btn {
    width: 160px;
    height: 50px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
  }
  .heading4 {
    font-size: 24px;
    line-height: 28px;
  }
  .name4 {
    font-size: 16px;
    line-height: 20px;
  }
  .text4 {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (max-width: 400px) {
  .nav {
    height: 40px;
  }
  .nav_li {
    min-width: 350px;
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .head_card {
    min-width: 250px;
  }
  .head_centre {
    max-width: 85%;
    margin-bottom: 40px;
  }
  .heading {
    font-size: 22px;
    line-height: 10px;
    letter-spacing: 2px;
  }
  .head_text {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
  .head_search {
    max-width: 290px;
  }
  .search_bar {
    width: 290px;
    height: 35px;
  }
  input {
    width: 300px;
    height: 30px;
  }
  .section1 {
    height: 500px;
  }
  .img_one1,
  .img_one2 {
    width: 80%;
  }
  .img_about {
    width: 300px;
  }
  .heading1 {
    font-size: 20px;
    line-height: 14px;
    /* identical to box height, or 72% */
    padding-top: 10px;
  }
  .travel2 {
    transform: scale(0.35);
  }
  .travel_text {
    font-size: 16px;
    padding-left: 20px;
  }
  .container4 {
    height: 500px;
  }
  .heading4 {
    font-size: 20px;
    line-height: 20px;
  }
  .img4 {
    width: 180px;
    height: 100px;
  }
  .footer {
    height: 200px;
  }

  .footer_logo {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .footer_text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}
